@import 'queries';

* {
    box-sizing: border-box;
}

html {
    font-size: 1em;
}

body {
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-colour);
    background-color: var(--bg-colour);

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include break(xsmall) {
        font-size: 16px;
    }
}

::selection {
    background: var(--selection-colour);
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: var(--selection-colour);
    /* Gecko Browsers */
}

