.container {
    max-width: $max-width;
    margin: auto;
    padding: 0 $gutter;
}

.full {
    min-height: 90vh;
}

img {
    display: block;
    max-width: 100%;
}

header {
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: 0;
    /* border-left: solid 4px var(--primary-colour); */
    /* padding-left: 2rem; */
}

header.large {
    margin-top: 2rem;
    margin-bottom: 0;
    border-left: none;
    /* border-bottom: solid 4px var(--primary-colour); */
    padding-bottom: 0rem;
}

.heading {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.2em;
}

header.large .heading {
    font-size: 5rem;
}

header ul {
    margin: 0;
    list-style: none;
    padding-left: 0;
}

nav ul {
    margin: 0;
    list-style: none;
}

nav li {
    padding-right: 2rem;
    float: left;
}

nav a,
nav a:visited {
    color: $text-colour;
    text-decoration: none;
}

nav li.current a {
    color: $primary-colour;
}

a,
a:visited {
    color: $primary-colour;
    opacity: 1;
    transition: opacity .15s ease-in;
    text-decoration: none;
}

a:hover {
    opacity: 0.6;
    color: $primary-colour;
}

a.none {
    color: $text-colour;
}

blockquote {
    margin: 0;
    padding-left: 1rem;
    color: grey;
    border-left: solid 4px darkgrey;
}

li {
    padding: 0.25rem 0;
    font-size: 1.2em;
}

.title {
    word-wrap: break-word;
}

.list {
    list-style-type: none;
    margin-top: 2rem;
    padding: 0;
}

.list-item {
    margin: 1rem 0;
}

.list-title {
    margin-top: 0;
    margin-bottom: -0.2rem;
}

.date {
    margin-top: -1.4rem;
    color: $light-colour;
    font-size: 1em;
}

.list-date {
    font-size: 1em;
}

footer {
    margin-top: 2rem;
    padding: 2rem 0;
    /* border-top: solid 4px var(--primary-colour); */
}

.bold {
    font-weight: 700;
}

.cf:before,
.cf:after   { content: " "; display: table; }
.cf:after   { clear: both; }
.cf         { *zoom: 1; }
