@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Merriweather|Montserrat:400,500,700');

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--sans) !important;
}

h1,
h2,
h3,
h4 {
   font-weight: var(--bold) !important;
}

h5 {
    font-weight: var(--normal) !important;
}

p {
    font-family: var(--serif);
}

code {
    font-family: var(--mono);
}

.sans {
    font-family: var(--sans);
}
