@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Merriweather|Montserrat:400,500,700');
@import 'variables';

h1,
h2,
h3,
h4,
h5 {
    font-family: $sans !important;
}

h1,
h2,
h3,
h4 {
   font-weight: $bold !important;
}

h5 {
    font-weight: $normal !important;
}

p {
    font-family: $serif;
}

code {
    font-family: $mono;
}

.sans {
    font-family: $sans;
}
