#TableOfContents {
  ul {
    list-style: none;
    padding-left: 1.1rem;
    line-height: 1.3;
  }
}

// #TableOfContents {
//     font-size: 13px !important;
//     max-height: 85vh;
//     overflow: auto;
//     padding: 15px !important;
// }


// #TableOfContents > ul > li > ul > li > ul li {
//   margin-right: 8px;
// }

// #TableOfContents > ul > li > a   {
//   font-weight: bold; padding: 0 18px; margin: 0 2px;
// }

// #TableOfContents > ul > li > ul > li > a {
//   font-weight: bold;
// }

// #TableOfContents > ul > li > ul > li > ul > li > ul > li > ul > li  {
//     display: none;
// }
