$bg-colour: #fff;
$text-colour: #333;
$primary-colour: #4d3ae2;
$selection-colour: #ABA7E8;
$light-colour: #afafaf;

$max-width: 44rem;
$gutter: 1rem;

$sans: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Avenir Next', Avenir, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$serif: 'Merriweather', serif;
$mono: 'Source Code Pro', monospace;

$normal: 400;
$medium: 500;
$bold: 700;
