{{/*<!-- Styles -->*/}}
{{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}

{{/*<!-- JavaScript -->*/}}
{{ $highlight := resources.Get "js/highlight.pack.js" }}
{{ $custom := resources.Get "js/custom.js" }}
{{ $js := slice $highlight $custom | resources.Concat "coffee.js" | minify | fingerprint }}

<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ if .IsHome }}
    <title>{{ .Site.Title }}</title>
    {{ else }}
    <title>{{ .Title }}</title>
    {{ end }}

    <link rel="stylesheet" href="{{ $style.RelPermalink }}">

    {{ range .Site.Params.custom_css -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
    {{- end }}

    <script src="{{ $js.RelPermalink }}" />
    <script>
      addEventListener('load', function() {
        hljs.initHighlighting();
      })
    </script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"> </script>

  </head>

  <body>

   <div class="container">
     <div class="full flex {{ if .IsHome }}center{{ end }}">
       <div class="content">
        <header class="{{ if .IsHome }}large{{ end }}">
	  {{ if .IsHome }}
	    <h1 class="heading heading1">
	      {{ .Site.Params.Heading1 }}
	    </h1>
	    <h1 class="heading heading2">
	      {{ .Site.Params.Heading2 }}
	    </h1>
	  {{ else }}
	    <a href="/" class="none">
		<h2 class="heading short">
		{{ .Site.Params.Short }}
		</h2>
	    </a>
	  {{ end }}

          <!-- {{ partial "nav.html" . }} -->
	</header>
