{{/*<!-- Styles -->*/}}
{{ $code := resources.Get "sass/code.scss" }}
{{ $fonts := resources.Get "sass/fonts.scss" }}
{{ $coffee := resources.Get "sass/coffee.scss" }}
{{ $style := slice $coffee $code $fonts | resources.Concat "coffee.css" | toCSS | minify | fingerprint }}

{{/*<!-- JavaScript -->*/}}
{{ $highlight := resources.Get "js/highlight.pack.js" }}
{{ $custom := resources.Get "js/custom.js" }}
{{ $js := slice $highlight $custom | resources.Concat "coffee.js" | minify | fingerprint }}

<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>

    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat:400,700" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="{{ $style.RelPermalink }}"> --
    {{ range .Site.Params.custom_css -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
    {{- end }}

    <script src="{{ $js.RelPermalink }}" />
    <script>
      addEventListener('load', function() {
        hljs.initHighlighting();
      })
    </script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>

  <body>

   <div class="container">
     <div class="full">
       <header class="{{ if .IsHome }}large{{ end }}">
         <a href="/" class="none">
           <h1 class="heading">
             {{ .Site.Title }}
           </h1>
         </a>

        {{ partial "nav.html" . }}
       </header>

